.App {
  text-align: center;
}

.Alert {
  position: absolute;
  bottom: 0;
  left: 5;
  z-index: 1;
  padding: .25em;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

.citySearch {
    display: inline-flex;
}

input.num {
    width: 75px;
}

.Event {
  margin-bottom: .35em;
  box-shadow: 0 .2em hsla(0, 0%, 0%, 40%);
}

.Event {
  border: 1px solid var(--gray50);
  border-radius: .35em;
  background: var(--white-alpha);
  margin: .25em .75em;
  padding: .25em .85em .5em;
  color: #1d1d1d;
}

.Event.expanded {
  background: var(--heading-text);
  color: black;
  box-shadow: 0 .2em hsla(0, 0%, 100%, 40%);
}